# Data Cleaning Walkthrough

In [11]:
import pandas as pd
data_files = [
    "ap_2010.csv",
    "class_size.csv",
    "demographics.csv",
    "graduation.csv",
    "hs_directory.csv",
    "sat_results.csv"
]
data = {}
# Store all filenames into a dictionary: keys are csv file name and value are dataframes (csv file content)
for file in data_files:
    name = file.split('.')[0]
    data[name] = pd.read_csv('schools/'+file)
    print('\n {} \n {}'.format(name, data[name].head(3)))

 ap_2010
       DBN                    SchoolName AP Test Takers  Total Exams Taken  \
0  01M448  UNIVERSITY NEIGHBORHOOD H.S.              39                49
1  01M450        EAST SIDE COMMUNITY HS              19                21
2  01M515           LOWER EASTSIDE PREP              24                26

  Number of Exams with scores 3 4 or 5
0                                   10
1                                    s
2                                   24

 class_size
    CSD BOROUGH SCHOOL CODE                SCHOOL NAME GRADE  PROGRAM TYPE  \
0    1       M        M015  P.S. 015 Roberto Clemente     0K       GEN ED
1    1       M        M015  P.S. 015 Roberto Clemente     0K          CTT
2    1       M        M015  P.S. 015 Roberto Clemente     01       GEN ED

  CORE SUBJECT (MS CORE and 9-12 ONLY) CORE COURSE (MS CORE and 9-12 ONLY)  \
0                                    -                                   -
1                                    -                                   -
2                                    -                                   -

  SERVICE CATEGORY(K-9* ONLY)  NUMBER OF STUDENTS / SEATS FILLED  \
0                           -                               19.0
1                           -                               21.0
2                           -                               17.0

   NUMBER OF SECTIONS  AVERAGE CLASS SIZE  SIZE OF SMALLEST CLASS  \
0                 1.0                19.0                    19.0
1                 1.0                21.0                    21.0
2                 1.0                17.0                    17.0

   SIZE OF LARGEST CLASS DATA SOURCE  SCHOOLWIDE PUPIL-TEACHER RATIO
0                   19.0         ATS                             NaN
1                   21.0         ATS                             NaN
2                   17.0         ATS                             NaN

 demographics
       DBN                       Name  schoolyear fl_percent  frl_percent  \
0  01M015  P.S. 015 ROBERTO CLEMENTE    20052006       89.4          NaN
1  01M015  P.S. 015 ROBERTO CLEMENTE    20062007       89.4          NaN
2  01M015  P.S. 015 ROBERTO CLEMENTE    20072008       89.4          NaN

   total_enrollment prek   k grade1 grade2    ...     black_num black_per  \
0               281   15  36     40     33    ...            74      26.3
1               243   15  29     39     38    ...            68      28.0
2               261   18  43     39     36    ...            77      29.5

  hispanic_num hispanic_per white_num white_per male_num male_per female_num  \
0          189         67.3         5       1.8    158.0     56.2      123.0
1          153         63.0         4       1.6    140.0     57.6      103.0
2          157         60.2         7       2.7    143.0     54.8      118.0

  female_per
0       43.8
1       42.4
2       45.2

[3 rows x 38 columns]

 graduation
     Demographic     DBN                            School Name Cohort  \
0  Total Cohort  01M292  HENRY STREET SCHOOL FOR INTERNATIONAL   2003
1  Total Cohort  01M292  HENRY STREET SCHOOL FOR INTERNATIONAL   2004
2  Total Cohort  01M292  HENRY STREET SCHOOL FOR INTERNATIONAL   2005

   Total Cohort Total Grads - n Total Grads - % of cohort Total Regents - n  \
0             5               s                         s                 s
1            55              37                     67.3%                17
2            64              43                     67.2%                27

  Total Regents - % of cohort Total Regents - % of grads  \
0                           s                          s
1                       30.9%                      45.9%
2                       42.2%                      62.8%

             ...            Regents w/o Advanced - n  \
0            ...                                   s
1            ...                                  17
2            ...                                  27

  Regents w/o Advanced - % of cohort Regents w/o Advanced - % of grads  \
0                                  s                                 s
1                              30.9%                             45.9%
2                              42.2%                             62.8%

  Local - n Local - % of cohort   Local - % of grads Still Enrolled - n  \
0         s                   s                    s                  s
1        20               36.4%                54.1%                 15
2        16                 25%  37.200000000000003%                  9

  Still Enrolled - % of cohort Dropped Out - n Dropped Out - % of cohort
0                            s               s                         s
1                        27.3%               3                      5.5%
2                        14.1%               9                     14.1%

[3 rows x 23 columns]

 hs_directory
       dbn                                  school_name   borough  \
0  17K548          Brooklyn School for Music & Theatre  Brooklyn
1  09X543             High School for Violin and Dance     Bronx
2  09X327  Comprehensive Model School Project M.S. 327     Bronx

  building_code  phone_number    fax_number  grade_span_min  grade_span_max  \
0          K440  718-230-6250  718-230-6262             9.0              12
1          X400  718-842-0687  718-589-9849             9.0              12
2          X240  718-294-8111  718-294-8109             6.0              12

   expgrade_span_min  expgrade_span_max  \
0                NaN                NaN
1                NaN                NaN
2                NaN                NaN

                         ...                         priority08 priority09  \
0                        ...                                NaN        NaN
1                        ...                                NaN        NaN
2                        ...                                NaN        NaN

  priority10                                         Location 1  \
0        NaN  883 Classon Avenue\nBrooklyn, NY 11225\n(40.67...
1        NaN  1110 Boston Road\nBronx, NY 10456\n(40.8276026...
2        NaN  1501 Jerome Avenue\nBronx, NY 10452\n(40.84241...

  Community Board  Council District Census Tract        BIN           BBL  \
0             9.0              35.0        213.0  3029686.0  3.011870e+09
1             3.0              16.0        135.0  2004526.0  2.026340e+09
2             4.0              14.0        209.0  2008336.0  2.028590e+09

                                                 NTA
0  Crown Heights South                           ...
1  Morrisania-Melrose                            ...
2  West Concourse                                ...

[3 rows x 64 columns]

 sat_results
       DBN                                    SCHOOL NAME  \
0  01M292  HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES
1  01M448            UNIVERSITY NEIGHBORHOOD HIGH SCHOOL
2  01M450                     EAST SIDE COMMUNITY SCHOOL

  Num of SAT Test Takers SAT Critical Reading Avg. Score SAT Math Avg. Score  \
0                     29                             355                 404
1                     91                             383                 423
2                     70                             377                 402

  SAT Writing Avg. Score
0                    363
1                    366
2                    370

## Reading Survey Files (specifying data file encoding)

Let us filter the data and work with fewer columns within the survey dataframe:

https://data.cityofnewyork.us/Education/2010-2011-NYC-School-Survey/mnz3-dyi8

To check data file encoding: http://encodingchecker.codeplex.com

Indexing and Selecting Data: which choice is better for indexing?

http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [2]:
d75_survey = pd.read_csv('schools/survey_d75.txt', delimiter='\t', encoding='windows-1252')
all_survey = pd.read_csv('schools/survey_all.txt', delimiter='\t', encoding='windows-1252')
# default parameter value axis=0
survey = pd.concat([all_survey, d75_survey])
print(survey.head(3))


survey["DBN"] = survey["dbn"]

survey = survey.loc[:,["DBN", "rr_s", "rr_t", "rr_p", "N_s", "N_t", "N_p", "saf_p_11", "com_p_11", "eng_p_11", 
                 "aca_p_11", "saf_t_11", "com_t_11", "eng_t_11", "aca_t_11", "saf_s_11", "com_s_11", 
                 "eng_s_11", "aca_s_11", "saf_tot_11", "com_tot_11", "eng_tot_11", "aca_tot_11"]]
data["survey"] = survey

     N_p  N_s   N_t  aca_p_11  aca_s_11  aca_t_11  aca_tot_11    bn  com_p_11  \
0   90.0  NaN  22.0       7.8       NaN       7.9         7.9  M015       7.6
1  161.0  NaN  34.0       7.8       NaN       9.1         8.4  M019       7.6
2  367.0  NaN  42.0       8.6       NaN       7.5         8.0  M020       8.3

   com_s_11   ...    t_q8c_1  t_q8c_2  t_q8c_3 t_q8c_4  t_q9  t_q9_1  t_q9_2  \
0       NaN   ...       29.0     67.0      5.0     0.0   NaN     5.0    14.0
1       NaN   ...       74.0     21.0      6.0     0.0   NaN     3.0     6.0
2       NaN   ...       33.0     35.0     20.0    13.0   NaN     3.0     5.0

   t_q9_3  t_q9_4  t_q9_5
0    52.0    24.0     5.0
1     3.0    78.0     9.0
2    16.0    70.0     5.0

[3 rows x 2773 columns]

## Building a 'DBN' column in 'class_size' dataframe from 'CSD' and 'SCHOOL CODE' columns

In [3]:
def add_0(num):
    num_st = str(num)
    if len(num_st) < 2:
        num_st = num_st.zfill(2)
    return num_st

hs_directory = data['hs_directory']
class_size = data['class_size']
hs_directory['DBN'] = hs_directory['dbn']
class_size['padded_csd'] = data["class_size"]["CSD"].apply(add_0)
class_size['DBN'] = class_size['padded_csd'] + class_size['SCHOOL CODE']
print(class_size.head(3))

   CSD BOROUGH SCHOOL CODE                SCHOOL NAME GRADE  PROGRAM TYPE  \
0    1       M        M015  P.S. 015 Roberto Clemente     0K       GEN ED
1    1       M        M015  P.S. 015 Roberto Clemente     0K          CTT
2    1       M        M015  P.S. 015 Roberto Clemente     01       GEN ED

  CORE SUBJECT (MS CORE and 9-12 ONLY) CORE COURSE (MS CORE and 9-12 ONLY)  \
0                                    -                                   -
1                                    -                                   -
2                                    -                                   -

  SERVICE CATEGORY(K-9* ONLY)  NUMBER OF STUDENTS / SEATS FILLED  \
0                           -                               19.0
1                           -                               21.0
2                           -                               17.0

   NUMBER OF SECTIONS  AVERAGE CLASS SIZE  SIZE OF SMALLEST CLASS  \
0                 1.0                19.0                    19.0
1                 1.0                21.0                    21.0
2                 1.0                17.0                    17.0

   SIZE OF LARGEST CLASS DATA SOURCE  SCHOOLWIDE PUPIL-TEACHER RATIO  \
0                   19.0         ATS                             NaN
1                   21.0         ATS                             NaN
2                   17.0         ATS                             NaN

  padded_csd     DBN
0         01  01M015
1         01  01M015
2         01  01M015

In [4]:
import numpy as np

sat_results = data['sat_results']
columns = ['SAT Math Avg. Score', 'SAT Critical Reading Avg. Score', 'SAT Writing Avg. Score']
for column in columns:
    sat_results[column] = pd.to_numeric(sat_results[column], errors='coerce')

# add SAT values
sat_results['sat_score'] = sat_results[columns].apply(np.sum, axis=1)

## Retrieving latitudes and longitudes from the 'Location 1' column:

In [7]:
import re
hs_directory = data['hs_directory']
print(hs_directory[['Location 1']].head(3))

                                          Location 1
0  883 Classon Avenue\nBrooklyn, NY 11225\n(40.67...
1  1110 Boston Road\nBronx, NY 10456\n(40.8276026...
2  1501 Jerome Avenue\nBronx, NY 10452\n(40.84241...

We can notice that latitude and longitude are within parenthesis...

In [8]:
# Use a Regexp to find all content between parenthesis:
def get_lat(string):
    coord = re.findall("\(.+\)", string)
    coord = coord[0].split(',')
    return (coord[0]).replace('(','')

hs_directory['lat'] = hs_directory['Location 1'].apply(get_lat)
print(hs_directory['lat'].head(3))

0     40.67029890700047
1      40.8276026690005
2    40.842414068000494
Name: lat, dtype: object

In [10]:
def get_lon(string):
    coord = re.findall("\(.+\)", string)
    coord = coord[0].split(',')
    return coord[1].replace(')','')
hs_directory['lon'] = hs_directory['Location 1'].apply(get_lon)

hs_directory['lon'] = pd.to_numeric(hs_directory['lon'], errors='coerce')
hs_directory['lat'] = pd.to_numeric(hs_directory['lat'], errors='coerce')
print(hs_directory[['school_name', 'lat', 'lon']].head(3))

                                   school_name        lat        lon
0          Brooklyn School for Music & Theatre  40.670299 -73.961648
1             High School for Violin and Dance  40.827603 -73.904475
2  Comprehensive Model School Project M.S. 327  40.842414 -73.916162

# Filtering

Let us filter class_size dataframe so that only values containing '09-12' for GRADE and GEN ED for PROGRAM TYPE remain.

In [7]:
class_size = data['class_size']
class_size = class_size[class_size['GRADE '].str.contains('09-12', na=False)]
class_size = class_size[class_size['PROGRAM TYPE'].str.contains('GEN ED', na=False)]
print(class_size.head(3))

     CSD BOROUGH SCHOOL CODE                                    SCHOOL NAME  \
225    1       M        M292  Henry Street School for International Studies
226    1       M        M292  Henry Street School for International Studies
227    1       M        M292  Henry Street School for International Studies

    GRADE  PROGRAM TYPE CORE SUBJECT (MS CORE and 9-12 ONLY)  \
225  09-12       GEN ED                              ENGLISH
226  09-12       GEN ED                              ENGLISH
227  09-12       GEN ED                              ENGLISH

    CORE COURSE (MS CORE and 9-12 ONLY) SERVICE CATEGORY(K-9* ONLY)  \
225                           English 9                           -
226                          English 10                           -
227                          English 11                           -

     NUMBER OF STUDENTS / SEATS FILLED  NUMBER OF SECTIONS  \
225                               63.0                 3.0
226                               79.0                 3.0
227                               38.0                 2.0

     AVERAGE CLASS SIZE  SIZE OF SMALLEST CLASS  SIZE OF LARGEST CLASS  \
225                21.0                    19.0                   25.0
226                26.3                    24.0                   31.0
227                19.0                    16.0                   22.0

    DATA SOURCE  SCHOOLWIDE PUPIL-TEACHER RATIO padded_csd     DBN
225       STARS                             NaN         01  01M292
226       STARS                             NaN         01  01M292
227       STARS                             NaN         01  01M292